{% extends "base.html" %}

{% block content1 %}
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Cap challenge</title>
{% endblock %}

{% block content %}
<body style="margin-left: 5%">
    <br>
    {% for x in articles_list %}

    <p> {%print(x['url'])%}</p>
    <p> {%print(x['source']['name'])%} </p>
    <a href="{%print(x['url'])%}">
        {%print(x['title'])%}</a>

    <p style = "margin-left: 5%">
        {%print(x['description'])%} </p>
    <img class="img"; src= "{%print(x['urlToImage'])%}"; style = "margin-left: 5%">
    <br>
    <br>
    {% endfor %}
</body>
{% endblock %}
