{% extends "base.html" %}

{% block content1 %}
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Cap challenge</title>
{% endblock %}

{% block content %}
    <br>


    {% for x in range(0, (articles_list| length) - 4, 4) %}
<div class="card-group">
  <div class="card">
    <img src="{%print(articles_list[x]['urlToImage'])%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{%print(articles_list[x]['title'])%}</h5>
      <p class="card-text">{%print(articles_list[x]['description'])%} </p>
        <a href="{%print(articles_list[x]['url'])%}" class="btn btn-primary">{%print(articles_list[x]['source']['name'])%}</a>
    </div>
  </div>
  <div class="card">
    <img src="{%print(articles_list[x + 1]['urlToImage'])%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{%print(articles_list[x + 1]['title'])%}</h5>
      <p class="card-text">{%print(articles_list[x + 2]['description'])%} </p>
        <a href="{%print(articles_list[x + 1]['url'])%}" class="btn btn-primary">{%print(articles_list[x + 1]['source']['name'])%}</a>
    </div>
  </div>
  <div class="card">
    <img src="{%print(articles_list[x + 2]['urlToImage'])%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{%print(articles_list[x + 2]['title'])%}</h5>
      <p class="card-text">{%print(articles_list[x + 2]['description'])%} </p>
        <a href="{%print(articles_list[x + 2]['url'])%}" class="btn btn-primary">{%print(articles_list[x + 2]['source']['name'])%}</a>
    </div>
  </div>
</div>


    <div class="card mb-3" style="height: 850px">
  <img src="{%print(articles_list[x + 3]['urlToImage'])%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{%print(articles_list[x + 3]['title'])%}</h5>
    <p class="card-text">{%print(articles_list[x + 3]['description'])%}</p>
      <a href="{%print(articles_list[x + 3]['url'])%}" class="btn btn-primary">{%print(articles_list[x + 3]['source']['name'])%}</a>
  </div>
</div>

    <br>
    {% endfor %}

    {% if (articles_list| length) < 4 %}
      {% for i in range((articles_list| length)) %}
          <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{articles_list[i]['urlToImage']}}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{articles_list[i]['title']}}</h5>
                <p class="card-text">{{articles_list[i]['description']}}</p>
                 <a href="{{articles_list[i]['url']}}" class="btn btn-primary">{{articles_list[i]['source']['name']}}</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}


{% endblock %}
